apiVersion: carto.run/v1alpha1
kind: Workload
metadata:
  name: outer-loop
  labels:
    apps.tanzu.vmware.com/workload-type: web
    app.kubernetes.io/part-of: outer-loop
    apps.tanzu.vmware.com/has-tests: "true"
    apps.tanzu.vmware.com/language: java
    supplychain: unicorn
spec:
  source:
    git:
      url: https://github.com/Mpluya/outer-loop
      ref:
        branch: main
